createdAt: "2018-04-13T09:24:05.079Z"
updatedAt: "2018-04-27T11:55:52.522Z"
type: "MARKDOWN_NOTE"
folder: "124a4ca044646e704764"
title: "JavaDoc"
content: '''
  JavaDoc
  
  @param
  @return
  @throws
  @author
  @version
  @see
  @since
  @deprecated
'''
tags: [
  "Java"
  "Doc"
]
isStarred: false
isTrashed: false
