createdAt: "2018-04-20T11:15:58.920Z"
updatedAt: "2018-04-20T11:36:26.862Z"
type: "SNIPPET_NOTE"
folder: "44117e2a1faa0f6ff875"
title: "Garbage colector"
description: "Garbage colector"
snippets: [
  {
    name: "example.java"
    mode: "Java"
    content: '''
      public class GarbageCollection {
      
      	public static void main(String[] args) {
      		
      		Buch b1 = new Buch("Java", "Deitel");
      		Buch b2 = new Buch("Weiss nicht", "unbekannt");
      		
      		System.out.println(Buch.getAnzBuecher());
      		
      		b1 = null;
      		b2 = null;
      		
      		System.gc();
      
      		//	-- System.gc() is executed when eclipse have the time 
      		//	-- (= not directly)
      		System.out.println(Buch.getAnzBuecher()); //	-- 2
      		System.out.println(Buch.getAnzBuecher()); //	-- 2
      		System.out.println(Buch.getAnzBuecher()); //	-- 1
      		System.out.println(Buch.getAnzBuecher()); //	-- 1
      		System.out.println(Buch.getAnzBuecher()); //	-- 1
      		System.out.println(Buch.getAnzBuecher()); //	-- 0
      		
      	}
      	
      	public static class Buch {
      
      		private String titel;
      		private String autor;
      		public static int anzBuecher = 0;
      		
      		public Buch (String titel, String autor) {
      			this.titel=titel;
      			this.autor=autor;
      			anzBuecher++;
      		}
      		
      		// -- Be called by the garbage collector
      		protected void finalize() {
      			anzBuecher--;
      		}
      
      		public static int getAnzBuecher() {
      			return anzBuecher;
      		}
      	}
      }
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
