createdAt: "2018-04-20T11:19:46.971Z"
updatedAt: "2018-04-20T11:42:12.628Z"
type: "SNIPPET_NOTE"
folder: "44117e2a1faa0f6ff875"
title: "Enum"
description: "Enum"
snippets: [
  {
    name: "example.java"
    mode: "Java"
    content: '''
      public enum Langage {
        JAVA("Langage JAVA", 1),
        C ("Lanage C", 2),
        CPlus ("Langage C++", 3),
        PHP ("Langage PHP", 4);
      
        private String name = "";
        private int number = "";
         
        //Constructeur
        private Langage(String name, int number){
          this.name = name;
          this.number = number;
        }
        
         public String getName(){
          return name;
         }
         
        public String getnumber(){
          return number;
        }
         
        public static void main(String args[]){
          Langage l1 = Langage.JAVA;
          Langage l2 = Langage.PHP;
      
          //    Langage.values().length;
          l1.getnumber();
          l2.getnumber();.
          int langageLength = Langage.values().length;		   // Nbr total dans l'énume
          String nomLangage = Langage.values()[index].getName; //Prend la valeur à l'index "index"
      
          //recherche d'un numéro par son nom
          for (int i = 0; i < Langage.values().length; i++) {
            if(str == Langage.values()[i].getName()){
              nbr = Langage.values()[i].getNumber();
            }
          }
        }
      }
    '''
  }
]
tags: [
  "Java"
  "Method"
]
isStarred: false
isTrashed: false
