createdAt: "2018-04-13T09:10:00.751Z"
updatedAt: "2018-04-20T13:30:14.444Z"
type: "SNIPPET_NOTE"
folder: "2c600d84e9e2b5d22bbd"
title: "JFrame init"
description: "JFrame init"
snippets: [
  {
    name: "Main.java"
    mode: "Java"
    content: '''
      import javax.swing.JFrame;
      
      public class Window extends JFrame {
      	public Window(){
      		//Définit un titre pour notre fenêtre
      		this.setTitle("Ma première fenêtre Java");
      		//Size (weight, height)
      		this.setSize(400, 100);
      		//Positioning (center)
      		this.setLocationRelativeTo(null);
      		//Location
      		this.setLocation(200, 200);
          //Auto change dimension
          this.pack();
      		//Empêcher le redimensionnement de la fenêtre (false = empêche le redimensionnement)
      		this.setResizable(false);
      		//Garder la fenêtre au premier plan
      		this.setAlwaysOnTop(false);
      		//Retire les contours et les boutons de contrôle
      		this.setUndecorated(false);
      		//Termine le processus lorsqu'on clique sur la croix rouge
      		this.setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);
      		//Et enfin, la rendre visible        
      		this.setVisible(true);
      	}    
      
      	//-----------------Test--------------
      	public static void main(String[] args){
      		Window f1 = new Window();
      	}   
      }
      
    '''
  }
]
tags: [
  "Java"
  "Swing"
]
isStarred: false
isTrashed: false
