createdAt: "2018-04-13T09:32:47.600Z"
updatedAt: "2018-04-27T11:02:59.844Z"
type: "SNIPPET_NOTE"
folder: "44117e2a1faa0f6ff875"
title: "FileHandler"
description: '''
  FileHandler
  !! Don't forget to write the toString in the model object
'''
snippets: [
  {
    name: "FileHandler.java"
    mode: "Java"
    content: '''
      import java.io.*;
      import java.util.LinkedList;
      
      public class FileHandler {
        
      	public final String PATH = "file.txt";
        
        private String line = null;
        private int c;
        
      	public ImportedElement[] readElements () {
      		FileReader reader;
      		String [] lineSplitted = null;
      		LinkedList<ImportedElement> returnList = new LinkedList<ImportedElement>();
      		
      		try {
      			reader = new FileReader(new File(PATH));
      			BufferedReader bufferedReader = new BufferedReader(reader);
      			while (true) {
      				line = bufferedReader.readLine();
      				if (line == null) break;
      				
      				lineSplitted = line.split("-"); // See in the toString of the importedElement
      				returnList.add(new ImportedElement(
      						lineSplitted[0],
      						Integer.parseInt(lineSplitted[1])
              ));
      			}
      			
      		} catch (FileNotFoundException e) {
      			e.printStackTrace();
      		} catch (IOException e) {
      			e.printStackTrace();
      		}
      		
      		return returnList.toArray(new ImportedElement[returnList.size()]);
      	}
      	
      	public void writeElement (ImportedElement element) {
      		try {
      			FileWriter writer = new FileWriter(new File(PATH),true);
      			writer.write(element.toString() + "\\n");
      			writer.close();
      		} catch (IOException e) {
      			e.printStackTrace();
      		}
      	}
        
          public int countLine (){
            FileReader reader;
      
            try {
                reader = new FileReader(new File(PATH));
                BufferedReader bufferedReader = new BufferedReader(reader);
                c = 0;
      
                while ( true ) {
                    line = bufferedReader.readLine();
                    c++;
                    if (line == null) break;
                }
                return c;
            }catch (FileNotFoundException e) {
                e.printStackTrace();
            } catch (IOException e) {
                e.printStackTrace();
            }
      
            return 0;
        }
      	
      	public void readAll (ImportedElement []elements) {
      		System.out.println("Read file:");
      		for (ImportedElement element : elements) {
      			System.out.println(element);
      		}
      	}
      	
      	public void main (String [] arguments) {
      		ImportedElement element = new ImportedElement("Test", 10);
      		writeElement(element);
      		
      		ImportedElement [] elements = readElements();
      		readAll(elements);
      		
      	}
      }
    '''
  }
  {
    name: "Test.java"
    mode: "Java"
    content: '''
      public static void main (String [] arguments) {
      		ImportedElement element = new ImportedElement("Test", 10);
      		writeElement(element);
      		
      		ImportedElement [] elements = readElements();
      		System.out.println("Read file:");
      		for (ImportedElement element2 : elements) {
      			System.out.println(element2);
      		}
      		
      	}
    '''
  }
  {
    name: "ImportedElement.java"
    mode: "Java"
    content: '''
      public class ImportedElement {
       
      	private String varchar;
      	private int number;
      	
      	public ImportedElement(String varchar, int number) {
      		super();
      		this.varchar = varchar;
      		this.number = number;
      	}
      	
      	@Override //Important for the FileHandler
      	public String toString() {
      		return  varchar + "-" + number;
      	}
       
      }
    '''
  }
]
tags: [
  "Java"
  "In/Out"
]
isStarred: false
isTrashed: false
