createdAt: "2018-04-20T11:06:01.122Z"
updatedAt: "2018-04-20T11:36:26.862Z"
type: "SNIPPET_NOTE"
folder: "44117e2a1faa0f6ff875"
title: "For"
description: "For"
snippets: [
  {
    name: "example.java"
    mode: "Java"
    content: '''
      String tab[] = {"toto", "titi", "tutu", "tete", "tata"};
       
      for(String str : tab) // str = valeur courante du tableau.
        System.out.println(str);
      
      /*--------------Double arrays-------------*/
      
      String tab[][] = {{"toto", "titi", "tutu"}, {"tata", "tete", "tyty"}};
       
      for(String str[] : tab)
      {
       	for(String str2 : str)
       	{
           	System.out.println("La valeur est  = " + str2);
       	}
       
      }
      /* = toto, titi, tutu, tata, tete, tyty */
    '''
  }
]
tags: [
  "Java"
  "Global"
]
isStarred: false
isTrashed: false
